---
import { format } from 'date-fns';
import Ru from 'date-fns/locale/ru/index.js';

export interface Props {
	title: string;
	publishDate: Date;
	heroImage?: string;
	alt?: string;
  github?: string;
}

const { title, publishDate, heroImage, alt, github } = Astro.props;
---

<div class="layout">
	<article class="content">
		<div>
			<header>
        <div class="info">
          <p class="publish-date">{format(publishDate, 'd MMM yyyy', { locale: Ru })}</p>
          <a target="_blanc" href={github}>Редактировать</a>
        </div>
				<h1 class="title">{title}</h1>
        {heroImage && <img class="hero-image" loading="lazy" src={heroImage} alt={alt} height="550px" />}
			</header>
			<main>
				<slot />
			</main>
		</div>
	</article>
</div>

<style>
	.hero-image {
		width: 100vw;
		object-fit: cover;
		object-position: center;
		margin-top: 2rem;
		max-width: 746px;
	}

	@media (max-width: 50em) {
		.hero-image {
			height: 260px;
			margin-top: 0;
			margin-bottom: 2rem;
		}
	}

  .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .info a {
    color: var(--theme-text-lighter);
  }

	.content {
		margin-bottom: 8rem;
	}

	.content :global(main > * + *) {
		margin-top: 1rem;
	}

	.content :global(h2) {
		margin-top: 4rem;
	}

	header {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;

		margin-bottom: 1rem;
	}

	.title,
	.author,
	.publish-date {
		margin: 0;
	}

	.publish-date,
	.author {
		color: var(--theme-text-lighter);
	}

  .title {
		font-size: 2.25rem;
		font-weight: 700;
    border-bottom: 2px solid var(--theme-divider);
    margin-top: 1em;
	}

  :global(img) {
    max-width: min(45em, 100%);
    margin: 1em 0;
  }
  :global(pre) { 
    /* width: 45em; */
  }
</style>
